<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="inetBanking">

	<listeners>
		<listener class-name="com.inetBanking.utilities.Reporting" />
	</listeners>
	<test thread-count="5" name="Bankingapp Test">
		<parameter name="browser" value="chrome" />
		<classes>
		<!-- 	<class name="com.inetBanking.testCases.TC_LoginTest_001" />
			<class name="com.inetBanking.testCases.TC_LoginTestDD_002"/> -->
			<class name="com.inetBanking.testCases.TC_AddCustomer_003"/>
		</classes>
	</test> <!-- TestNG -->
</suite> <!-- Suite -->
